<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.feedme.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.feedme.app.FeedMeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".CustomScreen.SearchActivity" />

        <activity
            android:name="com.feedme.app.MainScreen.Views.MainScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.feedme.app.CustomScreen.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name="com.feedme.app.Data.FeedMeProvider"
            android:authorities="com.feedme.app"
            android:exported="false" />

        <service
            android:name="com.feedme.app.Services.ArticlesDownloaderService"
            android:exported="false" />
        <service
            android:name="com.feedme.app.Services.CleanupService"
            android:exported="false" />
        <service
            android:name="com.feedme.app.Services.BackupDataService"
            android:exported="false" />
        <service
            android:name="com.feedme.app.Services.RefreshDataDispatcher"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name="com.feedme.app.Services.BackupDispatcher"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity android:name="com.feedme.app.SettingsActivity" />
        <activity
            android:name="com.feedme.app.DetailsScreen.DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.feedme.app.CustomScreen.CustomListActivity" />
        <activity
            android:name="com.feedme.app.LaunchScreen.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.feedme.app.LaunchScreen.LoginActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait" />

        <receiver android:name="com.feedme.app.widget.FeedMeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.feedme.app.Services.action.DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/feed_me_widget_info" />
        </receiver>

        <service
            android:name="com.feedme.app.widget.FeedMeWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS">

        </service>
    </application>

</manifest>