<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bethechange.feedme">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FeedMeApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".CustomScreen.SearchActivity" />

        <activity
            android:name=".MainScreen.Views.MainScreenActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CustomScreen.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <provider
            android:name=".Data.FeedMeProvider"
            android:authorities="com.example.bethechange.feedme"
            android:exported="false" />

        <service
            android:name=".Services.ArticlesDownloaderService"
            android:exported="false" />
        <service
            android:name=".Services.CleanupService"
            android:exported="false" />
        <service
            android:name=".Services.BackupDataService"
            android:exported="false" />
        <service
            android:name=".Services.RefreshDataDispatcher"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".Services.BackupDispatcher"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>

        <activity android:name=".SettingsActivity" />
        <activity
            android:name=".DetailsScreen.DetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CustomScreen.CustomListActivity" />
        <activity
            android:name=".LaunchScreen.SplashScreen"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LaunchScreen.LoginActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LaunchScreen.ErrorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_error"
            android:theme="@style/FullscreenTheme" />

        <receiver android:name=".widget.FeedMeWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.bethechange.feedme.Services.action.DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/feed_me_widget_info" />
        </receiver>

        <service
            android:name=".widget.FeedMeWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS">

        </service>
    </application>

</manifest>